::-moz-selection {
 background: white;
}

::selection { background: white; }
 @-webkit-keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes
icon-beat {  0% {
 -webkit-transform: scale(2);
 -ms-transform: scale(2);
 transform: scale(2);
}
 100% {
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}




h2 {
  font-size: 2rem;
  color: #444;
  margin: 0;
}

h2 small {
 font-size: .8rem;
  color: #a2a2a2;
  display: block;
  font-weight: normal;
}

label {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 28px;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

label:last-of-type { margin-right: 1rem; }

label i {
  display: inline-block;
  height: 25px;
  position: relative;
  top: 6px;
  font-style: normal;
  color: #ccc;
}


/*input[type="radio"],*/
/*input[type="checkbox"] { visibility: hidden; }*/

/*input[type="radio"] + i:before,*/
/*input[type="checkbox"] + i:before {*/
/*  font-family: 'FontAwesome';*/
/*  font-size: 28px;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  display: inline-block;*/
/*}*/

/*input[type="radio"]:checked + i,*/
/*input[type="checkbox"]:checked + i {*/
/*  position: relative;*/
/*  -webkit-animation: icon-beat 0.1s ease;*/
/*  animation: icon-beat 0.1s ease;*/
/*}*/

/*input[type="radio"]:checked + i + span,*/
/*input[type="checkbox"]:checked + i + span {*/
/*  -webkit-transition: all 0.1s ease;*/
/*  transition: all 0.1s ease;*/
/*}*/


/*input[type="radio"] + i:before { content: "\f10c"; }*/

/*input[type="radio"]:checked + i:before { content: "\f111"; }*/

/*input[type="radio"]:checked + i + span,*/
/*input[type="radio"]:checked + i:before { color: rgba(0, 128, 128, 0.5); }*/

/*input[type="checkbox"] + i:before { content: "\f096"; }*/

/*input[type="checkbox"]:checked + i:before { content: "\f046"; }*/

/*input[type="checkbox"]:checked + i + span,*/
/*input[type="checkbox"]:checked + i:before { color: rgba(0, 128, 0, 0.5); }*/

.form-horizontal,
.form-vertical {
  padding: 2rem;
  margin: 1rem;
  float: left;
  clear: both;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.form-horizontal h2 { margin-bottom: 0.5rem; }

.form-horizontal label { float: left; }

.form-horizontal label:first-of-type { padding-left: 0; }

.form-horizontal:after,
.form-horizontal:before {
  display: table;
  content: " ";
}

.form-horizontal:after { clear: both; }

.form-vertical label {
  float: none;
  padding-left: 0;
}

.form-vertical label:first-of-type { padding-top: 1rem; }
